<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      UBER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-searchbar placeholder='Buscar Motorista'> </ion-searchbar>
    </ion-item>

  <ion-card>
    <ion-card-header>

      <ion-row>
        <ion-col size='auto'>
          <ion-avatar>
            <img src="https://lh3.googleusercontent.com/x-Z8iwakHRwCc9pFpJvavX4kc2cS_LbbIm2nr8qeNjdqtyQocCSFzzX4I_-Gs_EoFR-MJHo=s85" alt="">
          </ion-avatar>
        </ion-col>

        <ion-col>
        <ion-card-title>
            Gordo Uber
            <ion-badge>
              4.9 <ion-icon name="star"></ion-icon>
            </ion-badge>
        </ion-card-title>
        <ion-card-subtitle>Motorista desde 2021</ion-card-subtitle>
      </ion-col>
    </ion-row>

    </ion-card-header>
    <ion-card-content>
    Se você quer um UBER, isso não é problema meu.
    Mas, se você QUÉPASSE, aí é comigo.
    </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
  
        
  
        <ion-card-title>
          
          <ion-avatar>
            <img src="https://lh3.googleusercontent.com/E3_yjj90WuvA05q2mNjhqsZLcxR9tWq2pU0ETsdiY1REeAiVOtoc3DWJADcAWj98PORMtA=s85" alt="">
          </ion-avatar>
          
          Gizinha Motorista
          <ion-badge>
            100000 <ion-icon name="star"></ion-icon>
          </ion-badge></ion-card-title>
          <ion-card-subtitle>Motorista desde 2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      Motorista gótica e ativista do movimento EMO.
      No meu carro só toca LANA.
      </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header>
    
          <ion-avatar>
            <img src="https://lh3.googleusercontent.com/J8i897WtPMqe9tOADJJxTbEfPm9-GGMKem0je0b2ua9Q1rla7kQx9QWfZPFRi6202YXNrA=s85" alt="">
          </ion-avatar>
    
          <ion-card-title>Anão Bolado
            <ion-badge>
              3.2 <ion-icon name="star"></ion-icon>
            </ion-badge></ion-card-title>
            <ion-card-subtitle>Motorista desde 2021</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        Virei UBER depois do League of Legends destruir minha vida.
        Não fala comigo não.
        </ion-card-content>
        </ion-card>
</ion-content>
